<a href="https://colab.research.google.com/github/Indresh0007/PySpark-Indresh/blob/main/Advance_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## RDD

In [ ]:
from pyspark import SparkContext, SparkConf

conf = SparkConf().setAppName("MySparkApp").setMaster("local[*]")
sc = SparkContext(conf=conf)

rdd = sc.parallelize([1,2,3,4,5])
rdd_mapped = rdd.map(lambda x: x*2)
print(rdd_mapped.collect())

rdd_filtered = rdd.filter(lambda x: x%2 == 0)
print(rdd_filtered.collect())

sc.stop()

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=count app, master=local) created by __init__ at /tmp/ipython-input-1-3322327215.py:3

In [31]:
from pyspark import SparkContext, SparkConf

# 🔹 Stop any existing SparkContext
try:
    sc.stop()
except:
    pass

conf = SparkConf().setAppName("MySparkApp").setMaster("local[*]")
sc = SparkContext(conf=conf)

rdd = sc.parallelize([1,2,3,4,5])

#transformation Map
rdd_mapped = rdd.map(lambda x: x*2)
print(rdd_mapped.collect())

#transformation Filter
rdd_filtered = rdd.filter(lambda x: x%2 == 0)
print(rdd_filtered.collect())

#transformation Reduce
rd_reduce = rdd.reduce(lambda x,y: x+y)
print(rd_reduce)

#transformation: Flatmap
rdd =sc.parallelize([1,2,3])
#create a range of numbers for each element
rdd_flatmap = rdd.flatMap(lambda x: range(x,x+4))
#collect the result
print(rdd_flatmap.collect())

rdd=sc.parallelize(["hello","world"])
rdd_flatmap = rdd.flatMap(lambda x: list(x))
print(rdd_flatmap.collect())

rdd=sc.parallelize([[1,2],[3,4],[5]])
rdd_flatmap = rdd.flatMap(lambda x: x)
print(rdd_flatmap.collect())

rdd = sc.parallelize([1,2,3,4,5])
rdd_group =rdd.groupBy(lambda x: "even" if x%2 == 0 else "odd")
print([(key, list(value)) for key, value in rdd_group.collect()])


sc.stop()  #  Stop after work

[2, 4, 6, 8, 10]
[2, 4]
15
[1, 2, 3, 4, 2, 3, 4, 5, 3, 4, 5, 6]
['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']
[1, 2, 3, 4, 5]
[('even', [2, 4]), ('odd', [1, 3, 5])]

## DataFrame

In [32]:
data = [
    (1, "John", "HR", 5000),
    (2, "Jane", "IT", 8000),
    (3, "Mike", "IT", 6000),
    (4, "Sara", "Finance", 7000),
    (5, "David", "HR", 5500)
]

from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("DataFrameOperations").getOrCreate()

# Define column names
columns = ["ID", "Name", "Department", "Salary"]

# Create a DataFrame from the sample data
df = spark.createDataFrame(data, columns)

# Show the DataFrame
df.show()

+---+-----+----------+------+
| ID| Name|Department|Salary|
+---+-----+----------+------+
|  1| John|        HR|  5000|
|  2| Jane|        IT|  8000|
|  3| Mike|        IT|  6000|
|  4| Sara|   Finance|  7000|
|  5|David|        HR|  5500|
+---+-----+----------+------+

In [33]:
df.select("Name","Salary").show()

+-----+------+
| Name|Salary|
+-----+------+
| John|  5000|
| Jane|  8000|
| Mike|  6000|
| Sara|  7000|
|David|  5500|
+-----+------+

In [34]:
df.filter(df["Salary"] >6000).show()

+---+----+----------+------+
| ID|Name|Department|Salary|
+---+----+----------+------+
|  2|Jane|        IT|  8000|
|  4|Sara|   Finance|  7000|
+---+----+----------+------+

In [41]:
from pyspark.sql.functions import col
df=df.withColumn("Bonus",df["Salary"]*0.1)
df.show()

+---+-----+----------+------+-----+
| ID| Name|Department|Salary|Bonus|
+---+-----+----------+------+-----+
|  1| John|        HR|  5000|500.0|
|  2| Jane|        IT|  8000|800.0|
|  3| Mike|        IT|  6000|600.0|
|  4| Sara|   Finance|  7000|700.0|
|  5|David|        HR|  5500|550.0|
+---+-----+----------+------+-----+

In [49]:
df=df.drop("Bonus")
df.show()

+---+-----+----------+------+
| ID| Name|Department|Salary|
+---+-----+----------+------+
|  1| John|        HR|  5000|
|  2| Jane|        IT|  8000|
|  3| Mike|        IT|  6000|
|  4| Sara|   Finance|  7000|
|  5|David|        HR|  5500|
+---+-----+----------+------+

In [37]:
df=df.withColumnRenamed("Salary","Salary_After_tax")
df.show()

+---+-----+----------+----------------+
| ID| Name|Department|Salary_After_tax|
+---+-----+----------+----------------+
|  1| John|        HR|            5000|
|  2| Jane|        IT|            8000|
|  3| Mike|        IT|            6000|
|  4| Sara|   Finance|            7000|
|  5|David|        HR|            5500|
+---+-----+----------+----------------+

In [40]:
df=df.withColumnRenamed("Salary_After_tax","Salary")
df.show()

+---+-----+----------+------+
| ID| Name|Department|Salary|
+---+-----+----------+------+
|  1| John|        HR|  5000|
|  2| Jane|        IT|  8000|
|  3| Mike|        IT|  6000|
|  4| Sara|   Finance|  7000|
|  5|David|        HR|  5500|
+---+-----+----------+------+

In [42]:
df.groupBy("Department").agg(avg("Salary").alias("Avg-Salary")).show()

+----------+----------+
|Department|Avg-Salary|
+----------+----------+
|        HR|    5250.0|
|        IT|    7000.0|
|   Finance|    7000.0|
+----------+----------+

In [45]:
df.groupBy("Department").count().show()

+----------+-----+
|Department|count|
+----------+-----+
|        HR|    2|
|        IT|    2|
|   Finance|    1|
+----------+-----+

In [50]:
df.sort(df["Salary"].desc()).show()

+---+-----+----------+------+
| ID| Name|Department|Salary|
+---+-----+----------+------+
|  2| Jane|        IT|  8000|
|  4| Sara|   Finance|  7000|
|  3| Mike|        IT|  6000|
|  5|David|        HR|  5500|
|  1| John|        HR|  5000|
+---+-----+----------+------+

In [53]:
data_list=df.collect()

for row in data_list:
  print(row)

Row(ID=1, Name='John', Department='HR', Salary=5000)
Row(ID=2, Name='Jane', Department='IT', Salary=8000)
Row(ID=3, Name='Mike', Department='IT', Salary=6000)
Row(ID=4, Name='Sara', Department='Finance', Salary=7000)
Row(ID=5, Name='David', Department='HR', Salary=5500)

## DataSet

In [58]:
from pyspark.sql import SparkSession, Row

# Create SparkSession
spark = SparkSession.builder.appName("MySparkApp").master("local[*]").getOrCreate()
sc = spark.sparkContext

# Create RDD of Row objects
rdd = sc.parallelize([Row(name="Alice", age=25), Row(name="Bob", age=30)])

# Convert RDD to DataFrame (PySpark equivalent of Dataset)
df = spark.createDataFrame(rdd)

# Filter: Age > 25
filtered = df.filter(df.age > 25)

# Select only 'name' column
names = filtered.select("name")

# Show results
names.show()

+----+
|name|
+----+
| Bob|
+----+

In [59]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SparkSQLBasics").getOrCreate()

data = [
    (1, "Alice", "Sales", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500),
    (4, "David", "Sales", 4500),
    (5, "Eva", "IT", 4200)
]
columns = ["EmpID", "Name", "Department", "Salary"]

df = spark.createDataFrame(data, columns)
df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
|    4|David|     Sales|  4500|
|    5|  Eva|        IT|  4200|
+-----+-----+----------+------+

In [63]:
rdd=df.rdd
print("RDD Example:", rdd.map(lambda x: (x.Name, x.Salary)).collect())

RDD Example: [('Alice', 3000), ('Bob', 4000), ('Cathy', 3500), ('David', 4500), ('Eva', 4200)]

In [61]:
df.select("Name","Salary").show()

+-----+------+
| Name|Salary|
+-----+------+
|Alice|  3000|
|  Bob|  4000|
|Cathy|  3500|
|David|  4500|
|  Eva|  4200|
+-----+------+

In [62]:
df.createOrReplaceTempView("employees")

strSQL="select * from employees"
sql_result=spark.sql(strSQL)
sql_result.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
|    4|David|     Sales|  4500|
|    5|  Eva|        IT|  4200|
+-----+-----+----------+------+

## Data Format

In [64]:
data = [
    (1, "Alice", "Sales", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500)
]
columns = ["EmpID", "Name", "Department", "Salary"]
df = spark.createDataFrame(data, columns)
df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
+-----+-----+----------+------+

In [65]:
pwd

'/content'

In [66]:
df.write.mode("overwrite").json("/content/json_data")

In [67]:
!ls /content/json_data/

part-00000-1c54e382-6920-4f6e-831b-4787a7ec6cd6-c000.json  _SUCCESS
part-00001-1c54e382-6920-4f6e-831b-4787a7ec6cd6-c000.json

In [68]:
!cat /content/json_data/part-00000-1c54e382-6920-4f6e-831b-4787a7ec6cd6-c000.json

{"EmpID":1,"Name":"Alice","Department":"Sales","Salary":3000}

In [69]:
!cat /content/json_data/part-00001-1c54e382-6920-4f6e-831b-4787a7ec6cd6-c000.json

{"EmpID":2,"Name":"Bob","Department":"IT","Salary":4000}
{"EmpID":3,"Name":"Cathy","Department":"HR","Salary":3500}

In [71]:
json_df= spark.read.json("/content/json_data/")
json_df.show()

+----------+-----+-----+------+
|Department|EmpID| Name|Salary|
+----------+-----+-----+------+
|        IT|    2|  Bob|  4000|
|        HR|    3|Cathy|  3500|
|     Sales|    1|Alice|  3000|
+----------+-----+-----+------+

In [73]:

StrPath="/content/json_data/"
df.write.mode("overwrite").option("header", "true").csv(StrPath)

In [74]:
csv_df=spark.read.option("header","true").csv(StrPath)
csv_df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
|    1|Alice|     Sales|  3000|
+-----+-----+----------+------+

## Spark Streaming

In [1]:
import random
import csv

# Generate 30 records with random data
names = ["John", "Jane", "Mike", "Sara", "David", "Emily", "George", "Nina", "Tom", "Anna"]
departments = ["Sales", "IT", "HR", "Finance", "Marketing"]
salaries = [3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000]

# Create and open a CSV file for writing
with open('employee_data.csv', mode='w', newline='') as file:
    writer = csv.writer(file)

    # Write the header
    writer.writerow(["ID", "Name", "Department", "Salary"])

    # Write the 30 records
    for i in range(1, 31):
        name = random.choice(names)
        department = random.choice(departments)
        salary = random.choice(salaries)
        writer.writerow([i, name, department, salary])

print("CSV file 'employee_data.csv' has been generated successfully.")

CSV file 'employee_data.csv' has been generated successfully.

In [2]:
!cat /content/employee_data.csv

ID,Name,Department,Salary
1,John,Sales,4000
2,Jane,Finance,6000
3,David,IT,3000
4,Emily,Marketing,3000
5,John,Sales,6000
6,George,Marketing,6000
7,Jane,Finance,10000
8,Emily,Sales,4000
9,Emily,HR,3000
10,Tom,Marketing,3000
11,Emily,Sales,8000
12,Nina,HR,3000
13,Sara,Sales,4000
14,Jane,Sales,8000
15,John,Finance,8000
16,Tom,IT,6000
17,John,IT,5000
18,David,Marketing,5000
19,John,Finance,3000
20,Jane,IT,10000
21,George,Sales,10000
22,Tom,Finance,6000
23,Emily,HR,3000
24,George,HR,8000
25,David,Marketing,4000
26,Anna,Marketing,6000
27,Emily,HR,3000
28,Jane,Marketing,9000
29,Tom,HR,4000
30,David,Marketing,10000

In [3]:
ls /content/ -a

./  ../  .config/  employee_data.csv  sample_data/

In [4]:
mkdir /content/empdata/

In [5]:
mv /content/employee_data.csv /content/empdata/

In [6]:
ls /content/empdata/

employee_data.csv

In [7]:
ls /content/empdata/employee_data.csv

/content/empdata/employee_data.csv

In [10]:
from pyspark.sql.types import StringType,StructType,IntegerType

schema = StructType() \
      .add("EmpID", IntegerType()) \
      .add("Name", StringType()) \
      .add("Department",StringType())\
      .add("Salary", IntegerType())
print(schema)

StructType([StructField('EmpID', IntegerType(), True), StructField('Name', StringType(), True), StructField('Department', StringType(), True), StructField('Salary', IntegerType(), True)])

In [12]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("sparkSQLBasics").getOrCreate()
stream_df=spark.readStream \
   .option("sep",",") \
   .schema(schema) \
   .csv("/content/empdata/")

In [13]:
from pyspark.sql.functions import upper
transformed_df = stream_df.withColumn("NameUPPER",upper("Name"))

In [14]:
query = transformed_df.writeStream \
  .outputMode("append") \
  .format("console") \
  .start()

In [15]:
query.stop()

In [17]:
%%bash
cat<<EOF > /content/empdata.employee_data2.csv
1,John,Sales,3000
2,Jane,IT,4000
3,Mike,Sales,5000
4,Sara,Finance,6000
5,David,HR,7000
6,Emily,Marketing,6000
7,George,HR,4000
8,Nina,Sales,5000
9,Tom,IT,8000
10,Anna,Marketing,3000
EOF

In [18]:
%%bash
cat<<EOF > /content/empdata.employee_data3.csv
11,John,IT,7000
12,Jane,HR,4000
13,Mike,Finance,5000
14,Sara,Sales,6000
15,David,Marketing,7000
16,Emily,Sales,8000
17,George,Finance,3000
18,Nina,IT,6000
19,Tom,Sales,4000
20,Anna,HR,5000
EOF

In [19]:
%%bash
cat<<EOF > /content/empdata.employee_data4.csv
21,John,Finance,7000
22,Jane,Marketing,6000
23,Mike,HR,8000
24,Sara,Sales,3000
25,David,IT,6000
26,Emily,Finance,5000
27,George,Marketing,4000
28,Nina,HR,7000
29,Tom,Finance,5000
30,Anna,IT,8000
EOF

In [20]:
ls /content/empdata/

employee_data.csv

In [21]:
rm /content/empdata.employee_data2.csv

In [22]:
rm /content/empdata.employee_data3.csv

In [23]:
rm /content/empdata.employee_data4.csv

In [24]:
%%bash
cat<<EOF > /content/empdata/employee_data2.csv
1,John,Sales,3000
2,Jane,IT,4000
3,Mike,Sales,5000
4,Sara,Finance,6000
5,David,HR,7000
6,Emily,Marketing,6000
7,George,HR,4000
8,Nina,Sales,5000
9,Tom,IT,8000
10,Anna,Marketing,3000
EOF

In [25]:
%%bash
cat<<EOF > /content/empdata/employee_data3.csv
11,John,IT,7000
12,Jane,HR,4000
13,Mike,Finance,5000
14,Sara,Sales,6000
15,David,Marketing,7000
16,Emily,Sales,8000
17,George,Finance,3000
18,Nina,IT,6000
19,Tom,Sales,4000
20,Anna,HR,5000
EOF

In [26]:
%%bash
cat<<EOF > /content/empdata/employee_data4.csv
21,John,Finance,7000
22,Jane,Marketing,6000
23,Mike,HR,8000
24,Sara,Sales,3000
25,David,IT,6000
26,Emily,Finance,5000
27,George,Marketing,4000
28,Nina,HR,7000
29,Tom,Finance,5000
30,Anna,IT,8000
EOF

In [27]:
ls /content/empdata/

employee_data2.csv  employee_data3.csv  employee_data4.csv  employee_data.csv

In [28]:
query = transformed_df.writeStream \
  .outputMode("append") \
  .format("console") \
  .start()

In [29]:
query.awaitTermination(10)

False

In [42]:
query.stop()

In [37]:
import os, shutil

# Clean folder if exists
if os.path.exists("/content/empdata/employee_data2.csv"):
    shutil.rmtree("/content/empdata/employee_data2.csv")
os.makedirs("/content/empdata//employee_data2.csv", exist_ok=True)

In [38]:
query = transformed_df.writeStream \
    .outputMode("append") \
    .format("console") \
    .start()

In [39]:
query.awaitTermination(15)  # wait 15 seconds for Spark to pick the file

False

In [43]:
query = transformed_df.writeStream \
    .outputMode("append") \
    .format("json") \
    .option("path", "/tmp/stream_json_output") \
    .option("checkpointLocation", "/tmp/stream_checkpoint") \
    .start()

In [47]:
import time
time.sleep(10) # Wait for the streaming query to write some data
df = spark.read.schema(transformed_df.schema).json("/tmp/stream_json_output")
df.show()

+-----+----+----------+------+---------+
|EmpID|Name|Department|Salary|NameUPPER|
+-----+----+----------+------+---------+
+-----+----+----------+------+---------+

In [48]:
ls /tep/

ls: cannot access '/tep/': No such file or directory

In [49]:
ls /tmp

blockmgr-6de53b31-6b6f-4ef5-b275-1054aa4f52bb/
colab_runtime.sock=
dap_multiplexer.6fee3d9b4636.root.log.INFO.20250730-091916.84
dap_multiplexer.INFO@
debugger_24r7hsa7kf=
hsperfdata_root/
initgoogle_syslog_dir.0/
language_service.6fee3d9b4636.root.log.ERROR.20250730-092716.378
language_service.6fee3d9b4636.root.log.INFO.20250730-092016.378
language_service.6fee3d9b4636.root.log.INFO.20250730-103456.18662
language_service.6fee3d9b4636.root.log.WARNING.20250730-092716.378
language_service.ERROR@
language_service.INFO@
language_service.WARNING@
liblz4-java-6707959208834418084.so
liblz4-java-6707959208834418084.so.lck
pyright-18668-3OeLvOrVL94o/
pyright-18668-Io5UCw3UXZwN/
pyright-386-3YZ4ciSdPApK/
python-languageserver-cancellation/
spark-305d9024-6a48-49c9-a0c7-8c6e72e52394/
spark-bdd5f8b1-044c-44d6-8b23-710e746c581b/
stream_checkpoint/
stream_json_output/
temporary-8d8581c4-3d9b-4741-998d-cd1471dd26fa/
temporary-95c3dd53-946d-4ff3-89d8-c3e51784255d/
temporary-e174db05-e63f-4d92-bb6c-229ac9530f83/

In [50]:
!ls /tmp/stream_json_output

_spark_metadata

In [51]:
cat /tmp/stream_json_output/_spark_metadata/

cat: /tmp/stream_json_output/_spark_metadata/: Is a directory

In [52]:
stream_df = spark.readStream \
   .option("sep", ",") \
   .schema(schema) \
   .csv("/content/empdata/")

In [53]:
import time
time.sleep(5)

In [54]:
%%bash
cat <<EOF > /content/empdata/emp1.csv
1,John,Sales,3000
2,Jane,IT,4000
EOF

In [55]:
import time
time.sleep(5)

In [56]:
from pyspark.sql.types import StructType, StringType, IntegerType

schema_out = StructType() \
    .add("EmpID", IntegerType()) \
    .add("Name", StringType()) \
    .add("Department", StringType()) \
    .add("Salary", IntegerType()) \
    .add("NameUPPER", StringType())

df = spark.read.schema(schema_out).json("/tmp/stream_json_output")
df.show()

+-----+----+----------+------+---------+
|EmpID|Name|Department|Salary|NameUPPER|
+-----+----+----------+------+---------+
|    1|John|     Sales|  3000|     JOHN|
|    2|Jane|        IT|  4000|     JANE|
+-----+----+----------+------+---------+

In [57]:
pip install faker

Collecting faker
  Downloading faker-37.4.2-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from faker) (2025.2)
Downloading faker-37.4.2-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 34.7 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.4.2

In [59]:
from faker import Faker
import random
import time
import uuid

# Create Faker instance
fake = Faker()

# Output file
output_file = "/content/empdata/random_data.csv"

while True:
    emp_id = random.randint(1000, 9999)      # Random Employee ID
    name = fake.name()                       # Random Name
    department = fake.job()                  # Random Job Title as Department
    salary = random.randint(3000, 12000)     # Random Salary
    unique_id = uuid.uuid4()                 # Unique ID for no repetition

    record = f"{emp_id},{name},{department},{salary},{unique_id}\n"

    # Append to file
    with open(output_file, "a") as f:
        f.write(record)

    print("Generated:", record.strip())

    time.sleep(1)  # Wait 1 second before generating next line

Generated: 1694,Robert Cohen,Aid worker,3507,0a622e19-b9b2-4a33-b618-53504009d33a
Generated: 2800,Sean Morgan,Designer, television/film set,5710,fa395b0d-bce6-46bd-88eb-ddf69f35f542
Generated: 3511,Colleen Mullins,Meteorologist,7885,1cde45b0-d5b6-492b-8267-46d216ddb138
Generated: 6536,Marilyn Hensley,Immigration officer,11839,96cd3128-c4d6-4d8f-a140-f8d2cfd266fd
Generated: 5347,Bryan Miller,Chartered accountant,5064,4840673e-cf80-470e-8d24-abeb067168b4
Generated: 5799,Erica Terry,Therapist, speech and language,4851,f8cb301c-6b76-4682-98dd-f58777d009f0
Generated: 9016,Tammy Smith MD,Biomedical scientist,9702,1752df1d-8daa-4acd-92ca-ad0617db32f1
Generated: 2552,Jessica Mejia,Copy,10762,7b70a641-c634-4564-b730-b23cfcae1d9c
Generated: 3159,Robert Walker,Computer games developer,8403,fc75e1cf-accc-49d3-87bb-e961737f04cd
Generated: 4770,Keith Conley,Land/geomatics surveyor,3738,afdad4a0-841b-4c64-8dd0-9c8702dcb485
Generated: 6396,Mary Thomas,Teacher, music,11720,a9e085b9-23d2-46ed-b22f-a50168f256d4
Generated: 9668,Sarah Williams,Research officer, political party,6502,8ed5cba8-2580-4b10-bcf2-12d6321097ba
Generated: 5030,Cynthia Ray,Engineer, land,11977,f7e248f6-8eec-46ac-9f12-a0686ba42469
Generated: 6915,Heather Gonzalez,Forest/woodland manager,5173,22f92dc2-bd9b-4933-949a-b9c26e05c035
Generated: 9698,Madison Garrett,Hydrographic surveyor,7022,9074d993-3bbf-473e-930a-e6b657a5f571
Generated: 4041,John Summers,Agricultural consultant,5338,03b8561f-15b0-42a4-96e3-7e9080cec400
Generated: 1691,Andrew Bryant,Civil Service fast streamer,7177,7f1d97e6-ad2c-4c81-94c6-6d228d13e7e9
Generated: 5526,Marcia Perez,Licensed conveyancer,5588,8a8f242d-57b9-4815-90b4-8e170632e7f2
Generated: 6244,Kelly Ramsey,Software engineer,4666,8be9f7dd-02bc-49b8-943b-fbc713194cfe
Generated: 6878,Austin Johnson,Lawyer,6124,5f3c72d9-b722-4abc-ab5c-a07d5d3977df
Generated: 3944,Marcus Herrera,Retail banker,11038,e91113e1-cdd8-4091-bbce-9763211d5f8c
Generated: 9452,Gina Phillips,Haematologist,11832,55ca6fbd-2899-45b2-8326-bdb097a6016a
Generated: 4244,Donald Lee,Marine scientist,6869,c0cefa53-accf-4cdf-af07-43be0442f27e
Generated: 4173,Mark Ramos,Environmental manager,9582,31719b1a-71a2-48f6-909e-b7822011fec0
Generated: 9844,Nicholas Brooks,Pension scheme manager,9063,eea434e4-fab6-4670-8762-0ecc13ff2ee5
Generated: 2904,Melissa Nguyen,Archivist,6968,39b550a8-4ba6-4929-8507-c67735b91a49
Generated: 9553,Frederick Fowler,Public librarian,8311,481a658c-e484-4c01-bf12-303ee02e15dc
Generated: 7576,Emily Patterson,Psychologist, sport and exercise,3254,8d034ab1-d572-406c-9136-2d6d2986148a

KeyboardInterrupt:

In [60]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [61]:
from faker import Faker
import random
import time
import uuid
import os

# Create Faker instance
fake = Faker()

# Set the file path inside Google Drive
output_dir = "/content/drive/My Drive/RandomData"
os.makedirs(output_dir, exist_ok=True)

output_file = os.path.join(output_dir, "stream_data.csv")

# Generate random data continuously
while True:
    emp_id = random.randint(1000, 9999)
    name = fake.name()
    department = fake.job()
    salary = random.randint(3000, 12000)
    unique_id = uuid.uuid4()

    record = f"{emp_id},{name},{department},{salary},{unique_id}\n"

    with open(output_file, "a") as f:
        f.write(record)

    print("Generated:", record.strip())

    time.sleep(1)  # 1 second delay

Generated: 1170,James Marquez,Therapist, speech and language,9904,f6e59a82-a575-47cc-b11b-50b0e5649667
Generated: 2114,Cheryl Johnson,Financial controller,4290,d737cc43-4f5f-463b-81c6-17223f54ca7d
Generated: 2465,Kara Jones,Conservator, furniture,9236,7b8ccfd7-4802-4aac-8c36-4a9d76a4bb9a
Generated: 1916,Michael Morgan,Manufacturing systems engineer,8534,30f9cead-7ff6-4188-a82c-b75661f209bf
Generated: 2441,John White,Public house manager,11324,2e9b800b-923a-4e9f-b12a-ee3b75c9f397
Generated: 5346,Willie Anderson,Scientist, forensic,3573,deb555a1-764c-4cf4-b642-d5a808b14d4c
Generated: 5528,Melissa Davenport,Archivist,11060,e839dd7e-bcbf-47bb-891f-74269d6615d1
Generated: 6362,Angela Hamilton,Stage manager,5243,ed931e34-d95a-471d-b44f-84c1b43ac1d7
Generated: 2983,Sharon Yang,Equality and diversity officer,7872,1e7d7caf-37ed-47a3-bdc9-da0d983199bd
Generated: 4092,Jennifer Lopez,Mechanical engineer,11564,7854b1ec-40c4-419a-8bc5-4d8479da58e0
Generated: 6163,Bailey Johnson,Surgeon,9473,b2d41bdf-72d0-488e-a42c-03fd098a7ef2
Generated: 9347,Alexander Perry,Teaching laboratory technician,8221,4b5ae9d5-b833-4a4e-855d-dfcbd6770125
Generated: 7115,Tracy Cooper,Fish farm manager,5001,8f19287c-2db6-45e1-83f6-aee10d181536
Generated: 8272,Shawn Evans,Librarian, public,11651,5554fa4e-ad24-476e-8ffe-e82dd890cfac
Generated: 6052,Todd Ballard,Corporate investment banker,3497,fa3f9678-6c97-46c2-b06e-9a374564e180
Generated: 1632,Pamela Cox,Information systems manager,11344,611e5999-7f51-45b4-8d8e-27a10fde24b5
Generated: 7250,Tracey Allen,Investment banker, operational,6398,57729b09-b33a-4860-ae6d-e51df3d65119
Generated: 9551,Anthony Boyd,Mudlogger,8038,abe2b73c-a708-4a05-a794-17a907009a8c
Generated: 7489,Richard Mcclain,Public librarian,7629,664dd8d2-d601-4290-9543-ca1a3dd51750
Generated: 8650,Joseph Sanchez,Science writer,6934,0810b8d7-d87f-4981-a973-02346a025830
Generated: 3195,Aaron Hodge,Physiotherapist,7812,9b7e1a71-ea81-4b36-add2-a6103f340968
Generated: 8331,Mary Gordon,Podiatrist,4408,6e1c0973-f9e0-4d97-8a18-9059bccf9116
Generated: 2599,Brett Hart,Exhibition designer,6095,bb391701-b7b4-4e1a-b9f5-937718b724fd
Generated: 1367,Karen Sanders,Animal nutritionist,10430,32163257-5e88-476c-a432-36167cfd56f2
Generated: 9006,Kara Morales,Chemist, analytical,7309,f622e042-cfdb-498f-9971-a154394b218a
Generated: 3267,Caleb Adams,Radio producer,6809,7c49e0e0-355a-4a4f-bab4-241854af25d8
Generated: 8199,Joe Johnson,Pensions consultant,6448,e84c54be-558d-40f6-afdd-78d0e53ffc49
Generated: 8532,Randy Lopez,Conservator, furniture,4238,ad6c52d7-2771-414a-9557-fe591a6a7459
Generated: 7062,Jacqueline Fleming,Chartered loss adjuster,7497,89fd07bc-ab5d-43a4-80e4-88a218e6b378
Generated: 3741,Robert Hoffman,Land,7554,3b0bc075-4f9a-4f89-a7fe-4eaa06254e5c
Generated: 8307,Kimberly Frank,Surveyor, building control,6120,9568f79c-ceec-4ac5-9958-88014d653826
Generated: 7608,Kristina Castaneda,Engineer, materials,9519,c476f284-fc59-4c47-b35f-bb4a4b4c6555
Generated: 7027,Steven Garner,Teacher, early years/pre,5841,b07abc9e-31a6-4112-888e-3d96543c794a
Generated: 6930,April Jefferson,TEFL teacher,8054,331f8094-7f74-4cf3-97aa-31c45fadf5ce
Generated: 4186,Jose Jordan,Designer, fashion/clothing,6154,7d61fa8e-56f8-4df3-be2b-9f787494a85a
Generated: 8068,Cameron Mccullough,Magazine journalist,6998,8663ac29-10f1-426f-958a-7a96a511c9d2
Generated: 8924,Lynn Crane,Civil engineer, consulting,6991,3fa55194-8e11-4e9b-880c-2d5b8294bd3d
Generated: 4189,Jessica Cummings,Air broker,9824,cf7f2ec9-957f-49d0-a780-49da1d4ebf3d
Generated: 8411,Brian Stout,Paramedic,11292,e8593252-870d-428f-b1c0-be938042f313
Generated: 2657,Jenny Walker,Pharmacist, hospital,10265,3e897546-15c0-4706-9784-7471ecb90cc4
Generated: 4169,Amber Vasquez,Field seismologist,4005,6aea1a3b-d230-4bb1-84d6-2622068ba3da
Generated: 5174,Edward Hill,Pathologist,7306,1f9280b4-0173-4dde-9273-9d310295b0c2
Generated: 9962,Nicholas Hale,Educational psychologist,4998,322a8e0c-f516-4e78-ad2c-6f6977e472f7
Generated: 5009,Jason Acosta,Lecturer, further education,6998,f14e0a5f-670a-4a21-975a-35e969cd6160
Generated: 4304,Alan Silva,Counsellor,5601,0508fa60-43b3-4cda-adf8-8e2d8e5e6e85
Generated: 7910,Kimberly Bishop,Insurance risk surveyor,6966,0e2c232b-c315-4dcf-87f6-70141edae87d
Generated: 9797,William Martin,Legal executive,11876,439863c1-7b38-4f46-a70f-33a8f912bae5
Generated: 4525,Jason Peterson,Lecturer, higher education,7249,7a3987ea-bd5b-4d90-b08c-870f0da38ada
Generated: 4215,Elizabeth Koch,Merchant navy officer,8052,24e2aab3-8633-4241-9c97-7986677d4af7
Generated: 8669,Billy Bernard,Nurse, learning disability,6205,0c187edf-9ac1-411e-ba0f-3654df1c093d
Generated: 8361,Ann Meadows,Garment/textile technologist,11790,6c9a3093-6bc8-4d49-ab03-7fb37263acd2
Generated: 7393,Ashley Shannon,Community arts worker,6341,7f2eccb4-3a53-44e2-b865-ed6fa622b4c6
Generated: 5999,Emily Frye,Furniture conservator/restorer,4763,279b05f9-26c9-41de-a778-7ec304fb23e3
Generated: 5736,Robert Smith,Teacher, music,10898,bf05c163-3f3d-4bef-b1b2-f86bb4e22e0f
Generated: 3992,Heidi Roberts,Chief Marketing Officer,9896,47ec7f99-fc15-4e24-b507-95cc83cf779c
Generated: 9995,Tracy Valencia,Civil engineer, contracting,6498,33d5102b-2f1a-4471-af7f-ab92aabbeb00
Generated: 5046,Michael Adams,Sport and exercise psychologist,3966,e32009da-f02d-49a9-8d83-d9658d27bc03
Generated: 3257,Ashley Ray,Best boy,5575,bdc8abe2-513a-4088-a0f4-b753d8e5d865
Generated: 1427,Brandy Bradley,Marketing executive,3118,52b40589-991e-4972-a65d-6fcf258ec191
Generated: 5819,Amber Wilkins,Plant breeder/geneticist,11470,3081f588-99cc-4255-9fa0-e6264b94a84a
Generated: 1073,Kathleen Flores,Sport and exercise psychologist,5533,e1582ce4-27ce-4ec1-92ed-84ebdb0be3ef
Generated: 6332,Jennifer Mathews,Scientist, research (physical sciences),6271,a9dba67d-6520-48ab-b41b-c977a0de61fc
Generated: 9830,Steven Russell,Human resources officer,11537,2cb7c36d-30f7-4c84-89e8-96724f88faa5
Generated: 8089,Karen Rivers,Jewellery designer,5652,e577bd10-6021-48e9-896e-28310ffa62ae
Generated: 4212,Lisa Robinson,Photographer,4780,baca1c13-1df8-4709-8ab6-7e0e4042c321
Generated: 4151,Amanda Welch,Aeronautical engineer,9161,af18429d-975d-4f10-a43f-95bb8d9adeb9
Generated: 1571,Charles Reed,Event organiser,3674,ca03c7f1-f658-440c-984f-1d164d56416d
Generated: 3282,George Fernandez,Amenity horticulturist,3332,19d42f3b-574d-4fa1-98a0-0ff2d43bb955
Generated: 4722,Linda Lawrence,Immigration officer,5038,8a4b0717-4da0-49bb-bae4-720cd3eb389e
Generated: 5865,Norma Pacheco,Wellsite geologist,10170,fdf51698-20bd-4cf4-811f-5e47d121f001
Generated: 9679,Miss Brooke Drake,Art gallery manager,4097,187a58c1-b52f-41cc-8089-3d7f73a6b6a8
Generated: 1455,Justin Cline,Financial adviser,3957,5b32dbf0-1e8c-44bd-9486-caedebd30dec
Generated: 4766,Matthew Hurst,Paramedic,7716,c8db7f31-8e84-42d4-a68a-e4aaed681436
Generated: 8729,Kathleen Alvarez,Freight forwarder,4947,87f60e16-235c-4826-8063-61e3b8701340
Generated: 7954,Danny Gardner,Agricultural consultant,5598,2bb95b10-6b9f-4bea-9a9d-4d3e123ffe17
Generated: 4393,Sarah Arnold,Mining engineer,10364,aed62804-ac74-4ef9-bc21-f8ec1eacbddc
Generated: 7220,Brett Kent,Structural engineer,9672,658ecbd0-58d3-4199-90a7-325d5afa6806
Generated: 4244,Mitchell Lee,Psychologist, educational,11880,d183d3fd-a35e-4634-9e51-bb4b472c4941

KeyboardInterrupt:

In [65]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [66]:
from faker import Faker
import random
import uuid
import os
import time
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

# Setup
fake = Faker()
output_dir = "/content/drive/My Drive/RandomDataFiles"
os.makedirs(output_dir, exist_ok=True)

file_count = 1  # To number files

while True:
    # Generate 10 random records
    records = []
    for _ in range(10):
        emp_id = random.randint(1000, 9999)
        name = fake.name()
        department = fake.job()
        salary = random.randint(3000, 12000)
        unique_id = uuid.uuid4()
        record = f"{emp_id},{name},{department},{salary},{unique_id}"
        records.append(record)

    # Save to a new file
    file_path = os.path.join(output_dir, f"data_file_{file_count}.csv")
    with open(file_path, "w") as f:
        f.write("\n".join(records))

    print(f"✅ Created: {file_path} with 10 records")

    file_count += 1
    time.sleep(5)  # Wait 5 seconds before creating the next file

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_1.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_2.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_3.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_4.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_5.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_6.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_7.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_8.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_9.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_10.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_11.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_12.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_13.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_14.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_15.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_16.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_17.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_18.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_19.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_20.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_21.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_22.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_23.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_24.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_25.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_26.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_27.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_28.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_29.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_30.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_31.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_32.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_33.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_34.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_35.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_36.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_37.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_38.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_39.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_40.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_41.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_42.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_43.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_44.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_45.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_46.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_47.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_48.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_49.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_50.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_51.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_52.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_53.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_54.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_55.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_56.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_57.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_58.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_59.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_60.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_61.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_62.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_63.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_64.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_65.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_66.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_67.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_68.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_69.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_70.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_71.csv with 10 records
✅ Created: /content/drive/My Drive/RandomDataFiles/data_file_72.csv with 10 records

KeyboardInterrupt: